.Img:hover {
  cursor: pointer;
}

.TopBar {
  display: flex;
  align-items: center;
}

.AssetName {
  flex:1;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

.CloseModal {
  height: 2em;
  width: 2em;
}

.CloseModal:hover {
  cursor: pointer;
  color: #666666;
}
