.Base {
  white-space: nowrap;
  margin: 0.5px;
  float: left;
}

.Base:not(:last-child):after {
  content: ",";
  margin-right: 5px;
}

.Tag:hover {
  cursor: pointer;
  color: red;
}

.TagFiltered {
  color: red;
}

.TagFiltered:hover {
  cursor: default;
  color: red;
}
