.Page {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.Actions {
  width: 100%;
}

.Hidden {
  visibility: hidden;
}

.Content {
  flex-grow: 1;
}

.Table th:first-child {
  width: 480px;
}

.Table {
  height: calc(50% - 15px);
}
