.NavigationItem {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
  vertical-align: middle;
}

.NavigationItem a,
.NavigationItem .ListHeader {
  margin: auto;
  color: #444444;
  text-decoration: none;
  height:100%;
  width: 100%;
  font-weight: bold;
  box-sizing: border-box;
  display: block;
  padding: 16px 10px;
  border-bottom: 4px solid transparent;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active
{
  background-color: #777777;
  border-bottom: 4px solid #333333;
  color: white;
}

.ListContainer {
  cursor: pointer;
}

.ListHeader svg {
  width: 1.5em;
  height: 1.5em;
}

.ListHeader svg,
.ListHeader .Title {
  vertical-align: middle;
  display: inline-block;
}

.Invisible{
  display: none;
}

.List {
  position: absolute;
  width: 100px;
  padding: 0;
  background-color: #CCCCCC;
  border: 1px solid #AAAAAA;
}

.List:after, .List:before {
	bottom: 100%;
	left: 80%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.List:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #CCCCCC;
	border-width: 10px;
	margin-left: -10px;
}
.List:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #AAAAAA;
	border-width: 11px;
	margin-left: -11px;
}
