.Page {
  height: 100%;
}

.Actions {
  height: 4vh;
  width: 100%;
  display: flex;
  flex-flow: row;
  margin-bottom: 2px;
}

.Actions div {
  height: 100%;
  width: 100%;
  display: flex;
}

.Content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
