.Page {
  height: 100%;
}

.Actions {
  width: 100%;
  display: flex;
  flex-flow: row;
}

.Actions div {
  height: 100%;
  width: 100%;
  display: flex;
}

.Content {
  height: 89vh;
  overflow-y: auto;
}
