.Page {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.Actions {
  width: 100%;
  display: flex;
  flex-flow: row;
}

.Actions div {
  height: 100%;
  width: 100%;
  display: flex;
}

.Content {
  flex-grow: 1;
}
