.Header {
  margin: auto;
  height: 60px;
  text-align: justify;
  letter-spacing: 1px;
  background-color: #AAAAAA;
}

.Header nav {
  display: inline-block;
}

.Content {
  flex-grow: 1;
  padding-top: 60px;
}
