.FeedbackArea {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 2px;
}

.FilterBox {
  position: relative;
  border: 1px solid grey;
  border-radius: 3px;
}

.FilterBox + .FilterBox {
    margin-top: 10px;
}

.FeedbackText {
  position: absolute;
  top: -11px;
  left: 20px;
  background-color: white;
}

.TagList {
  padding-top: 4px;
}
