.Hidden {
  display:none;
}

.Title {
  text-align: left;
}

.Highlighted {
  animation: target-fade 5s 10;
}

@keyframes target-fade {
    0% { background-color: rgba(255,200,153,.8); }
    100% { background-color: rgba(255,255,153,0); }
}
