.Tag {
  background: #CCC;
  border: 1px solid #777;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  box-sizing: content-box;
}

.Tag span {
  display: inline-flex;
  vertical-align: middle;
  white-space: nowrap;
  margin: auto;
}

.Tag svg {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
  stroke: black;
  fill: black;
  color:black;
  padding-left: 5px;
}

.Tag svg:hover {
  cursor: pointer;
}
